@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
    font-family: "Noto Sans JP", sans-serif;
}

/*------------------------------------Header-----------------------------*/

header {
    background-image: url("../images/servers.jpg");
    background-size: cover;
    /*background-image: linear-gradient(#405f73,#8BBBD9);*/
    color: #F2F2F2;
    min-height: 400px;
    margin: 0px;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.details-container {
    padding-top: 70px;
}

.header-details {
    padding: 20px;
    /*background-color: rgba(64,95,115,0.85);*/
    background-color: rgba(80,80,80,0.85);
    display: inline-block;
    border-width: 3px;
    /*box-shadow: 5px 5px 5px 5px #505050;*/
}

.header-details h1 {
    font-weight: 400;
    margin-top: 8px;
}

.header-details h3 {
    font-weight: 100;
    margin-top: 15px;
}


/*------------------------------------Nav Bar-----------------------------*/

.bg-light {
    /*background-color: #8BBBD9!important;*/
    background-color: #405F73!important;
}

.navbar-light a {
    color: #F2F2F2!important;
}

.navbar-light a:hover {
    color: #021526!important;
}
/*I used the !important because the default styling of the navbar-light used it also and it was the only way I could think of to make this work.*/


.nav-link i {
    margin-right: 8px;
    margin-left: 10px;
    color: #F2F2F2;
}

.active i {
    color: #021526;
}


/*------------------------------------About Me-----------------------------*/

.about-me {
    background-color: #F2F2F2;
    font-family: "Noto Sans JP", sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.circle-photo-container {
  width: 250px;
  height: 250px;
  padding: 0px;
  border-style: solid;
  border-color: #021526;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 5px #405f73;
  margin-top: 20px;
}

.circle-photo-bg {
  background: url("../images/profile-pic.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

.about-me h3 {
    margin-top: 20px;
}

.about-me p {
    margin-top: 20px;
    text-align: justify;
    word-spacing: 1px;
}

.text-container {
    margin-left: 8%;
    margin-right: 8%;
}


/*------------------------------------Resume-----------------------------*/

.resume > h3 {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.resume-content .col-lg-4 {
    padding-left: 30px;
    margin-bottom: 30px;
}

.timeline-item {
    padding: 2em 1em 0em 1em;
    position: relative;
    border-left: 1px solid;
    border-left-color: #8BBBD9;
}

.timeline-item p {
    padding-bottom: 12px;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 0.5em;
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 0.7em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #8BBBD9;
}

.history-items {
    margin-top: 20px;
}

/*------------------------------------Skills-----------------------------*/

.content-container .row {
    margin: 0px;
}

.progress-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.progress {
    margin-top: 3px;
    margin-bottom: 3px;
}


/*------------------------------------Footer-----------------------------*/

footer {
    background-color: #405F73;
    color: #F2F2F2;
    min-height: 60px;
    margin: 0;
}

#footer-details {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
}

footer h5 {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
}

footer h5 i {
    color: #8BBBD9;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
}

footer h5 i:hover {
    color: #021526;
}

.in-logo {
    color: #8BBBD9;
}
