@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
    font-family: "Noto Sans JP", sans-serif;
}

/*------------------------------------Header-----------------------------*/

header {
    background-image: url("../images/servers.jpg");
    background-size: cover;
    color: #F2F2F2;
    min-height: 400px;
    margin: 0px;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.details-container {
    padding-top: 70px;
}

.header-details {
    padding: 20px;
    background-color: rgba(80,80,80,0.85);
    display: inline-block;
    border-width: 3px;
}

.header-details h1 {
    font-weight: 400;
    margin-top: 8px;
}

.header-details h3 {
    font-weight: 100;
    margin-top: 15px;
}


/*------------------------------------Nav Bar-----------------------------*/

.bg-light {
    background-color: #405F73!important;
}

.navbar-light a {
    color: #F2F2F2!important;
}

.navbar-light a:hover {
    color: 	#282828!important;
}
/*I used the !important because the default styling of the navbar-light used it also and it was the only way I could think of to make this work.*/


.nav-link i {
    margin-right: 8px;
    margin-left: 10px;
    color: #F2F2F2;
}

.active i {
    color: 	#282828;
}


/*------------------------------------About Me-----------------------------*/

.about-me {
    background-color: #F2F2F2;
    font-family: "Noto Sans JP", sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

/*Took some ideias and styling for the circle photo and container from the Love Running project and also from the "Quotes" section of the Whiskey drop project.*/
.circle-photo-container {
  width: 250px;
  height: 250px;
  padding: 0px;
  border-style: solid;
  border-color: #021526;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 4px 4px 4px 4px #405f73;
  margin-top: 20px;
}

.circle-photo-bg {
  background: url("../images/profile-pic.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

.about-me h3 {
    margin-top: 20px;
}

.about-me p {
    margin-top: 20px;
    text-align: justify;
    word-spacing: 1px;
}

.text-container {
    margin-left: 8%;
    margin-right: 8%;
}


/*------------------------------------Resume-----------------------------*/

.resume > h3 {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.resume-content .col-lg-4 {
    padding-left: 30px;
    margin-bottom: 30px;
}

.timeline-item {
    padding: 2em 1em 0em 1em;
    position: relative;
    border-left: 1px solid;
    border-left-color: #8BBBD9;
}

.timeline-item p {
    padding-bottom: 12px;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 0.5em;
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 0.7em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #8BBBD9;
}

.history-items {
    margin-top: 30px;
}

/*The following media query allows the "vertical timeline" to be continuous in smaller screens when all the work history appears in only one column. Without this there were gaps between the 
information*/
@media only screen and (max-width:991px) {
    .resume-content .col-lg-4, .history-items {
        margin-top:0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/*The following media query prevents the "vertical timeline" to be "glued" to the footer, creating a space between the end of the work history and the begining of the footer.*/
@media only screen and (max-width:991px) {
    .history-items.last-column {
        margin-bottom: 30px;
    }
}

/*------------------------------------Skills-----------------------------*/

.content-container .col-12 {
    padding-right: 20px;
}

.content-container .row {
    margin: 0px;
}

.progress-container h3 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.progress-container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress {
    margin-bottom: 10px;
    height: 25px;
}

.progress-type {
    text-align: right;
}

.progress-bar {
    padding-right: 5px;
}

.bg-darkblue {
    background-color: #021526;
}

.bg-mediumblue {
    background-color: #405F73;
}

.bg-mediumbluelight {
    background-color: #658DA6;
}

.bg-lightblue {
    background-color: #8BBBD9;
}

.bg-lighter {
    background-color: #bfbfbf;
}


/*------------------------------------Footer-----------------------------*/

footer {
    background-color: #405F73;
    color: #F2F2F2;
    min-height: 60px;
    margin: 0;
}

#footer-details {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
}

footer h5 {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
    color: #F2F2F2;
}

footer h5 i {
    color: #8BBBD9;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
}

footer h5 i:hover {
    color: #282828;
}

.in-logo {
    color: #8BBBD9;
}

footer a:hover {
    text-decoration: none;
}
